{% extends "bases/autenticacion.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
{% if validlink %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Recuperar Contraseña</h1>
</div>
{% if form.errors %}
    <p class="text-center">Hay problemas con las contraseñas.</p>
{% endif %}
<form class="user" method="post" action="">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <div class="form-group">
        <label>Nueva Contraseña</label>
        {% render_field form.new_password1 class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Nueva Contraseña" %}
    </div>
    <div class="form-group">
        <label>Confirmar Contraseña</label>
        {% render_field form.new_password2 type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Confirmar Contraseña" %}
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Aceptar
    </button>
</form>
{% else %}
<h1>Recuperación de contraseña fallida.</h1>
<p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
{% endif %}
{% endblock %}