{% extends "bases/autenticacion.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Recuperar Contraseña</h1>
</div>
{% if form.errors %}
    <p class="text-center">{{ form.email.errors }}</p>
{% endif %}
<form class="user" method="post" action="">
    {% csrf_token %}
    <div class="form-group">
        <label>Correo</label>
        {% render_field form.email class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo" %}
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Iniciar Sesión
    </button>
</form>
<hr>
<div class="text-center">
    <a class="small" href="forgot-password.html">¿Olvidó su contraseña?</a>
</div>
{% endblock %}