{% extends "bases/dashboard.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar Permiso</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Fecha de Inicio</label>
                    {% render_field form.fecha_inicio class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Fecha de Inicio" type="date" %}
                </div>
                <div class="form-group col-sm-6">
                    <label>Fecha de Finalización</label>
                    {% render_field form.fecha_fin class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Fecha de Finalización" type="date" %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button type="button" class="btn btn-primary btn-user" onclick="document.getElementById('form-imagen').click()" id="button-imagen">Seleccionar Imagen</button>
                    <div class="d-none">
                        {% render_field form.imagen id="form-imagen" onchange="cambiarImagen();" %}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Guardar
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    function cambiarImagen(valor) {
        document.getElementById('button-imagen').textContent = "Seleccionar otra imagen";
    }
</script>
{% endblock %}