{% extends "bases/dashboard.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar Bien</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col">
                    <label>Bien</label>
                    {% render_field form.bien class="form-control form-select" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Bien" %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Guardar
            </button>
        </form>
    </div>
</div>
{% endblock %}