{% extends "bases/dashboard.html" %}
{% load app_extras %}

{% get_user_lca request.user as usuario %}
{% block content %}
<div class="card shadow mb-4">
    {% get_grupo_lca request.user.groups as usuario_grupo %}
    {% if usuario_grupo == 'secretario' %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Reporte</h6>
    </div>
    {% else %}
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Reporte</h6>
        <a href="{% url 'agregar_reporte' %}" class="btn btn-circle btn-primary"><i class="fas fa-fw fa-plus"></i></a>
    </div>
    {% endif %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Bien</th>
                        <th>Status</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Bien</th>
                        <th>Status</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for object in object_list %}
                    {% if usuario_grupo == 'secretario' or object.bien.departamento.personal.first == usuario %}
                    <tr>
                        <td>{{ object.id }}</td>
                        <td>{{ object.bien }}</td>
                        <td>{{ object.get_status_display }}</td>
                        <td>{{ object.fecha_inicio }}</td>
                        <td>
                            <a href="{% url 'ver_reporte' object.id %}" class="btn btn-circle btn-primary"><i class="fas fa-fw fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay registros.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}